* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    background-color: #BF94FB;
    width: 100%;
}

/*.nav-scroll {

    background: #fff;
    -webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.0509803922);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;

}
*/
.containerAplicativo {
    padding-top: 8em;
    background-color: #BF94FB;
}

.line {
    height: 2px;
    width: 50px;
    background: #8e1efc;
    display: block;
    margin: 20px auto 20px;
}

.botao {
    background-color: white;
    padding: 1em 2em;
    border: 3px solid #8e1efc;
    border-radius: 10px;
    color: #8e1efc;
}

.botao:hover {
    text-decoration: none;
    background-color: #8e1efc;
    color: white;
}

.fa-play {
    display: block;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background: #ffffff;
    color: #8e1efc;
    font-size: 30px;
    line-height: 70px;
    margin: 0 auto;
    cursor: pointer;

}

.botao-video:hover {
    cursor: pointer;
    border: transparent;
}

.containerAssista {
    background: linear-gradient(90deg, #ce9fecc2, #886ff8c7), url(IMG/video-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    margin: 1em;
    padding: 0.5em;
}

video {
    padding: 0;
    width: 50em;
    margin: 0 -30%;
}

.caracteristicasIcon span {
    padding-left: 30%;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color: rgb(142, 30, 252);
    font-size: 18px;
    line-height: 50px;
    border: 1px solid rgb(142, 30, 252);
}

.caracteristicasTexto {
    padding: 2em 1.4em;
}

.caracteristicasIcon {
    padding: 2em 0;
}

.nossaEquipeIMG img {
    border-radius: 100%;
    max-width: 19em;;
    padding: 3em 1.5em 1em;
}

.nossaEquipeTexto h5 {
    color: #8e1efc;
}